.title {
	padding-left: 15px;
}

.bitcoin__wrapper {
	display: flex;
	flex-wrap: wrap;
	max-width: 80%;
}

.bitcoin__innerWrapper {
	flex: 0 0 33.333%;
	max-width: 33.333%;
	padding-left: 15px;
	padding-right: 15px;
}